#background{
  position:fixed;
  top: 0px;
  left:0px;
  bottom: 0px;
  right: 0px;
}
.centerDiv{
	position: relative;
	width:800px;
	height: 600px;
	margin: 10px auto;
	
	
}
.rightDiv{
	position:absolute;
	width:500px;
	height:594px;
	right:0px;
    border: 3px solid green;
}
.leftDiv{
	position:absolute;
	width:300px;
	height:594px;
	left:5px;
	top:30px; 
}
.bottomDiv{
	position: absolute;
	width:450px;
	height: 400px;
	bottom:20px;
	left:19px;
	border: 3px solid green;
	padding-top: 20px;
	padding-left: 10px;
}
h3{
  color:green;
  margin:5px;	
}
.btnOption{
  background: blue;	
  color:white;
  border-radius:8px;	
}